@charset "UTF-8";
/*styles généraux*/
@font-face {
  font-family: PoliceGenerale;
  src: url("/Raleway/Raleway-Italic-VariableFont_wght.ttf");
}
.ligneDuHaut {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 150px;
  width: 100%;
  background-color: black;
}
.ligneDuHaut_logo {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 40px 10px 40px 10px;
  box-shadow: 0px 0px 0px 5px yellowgreen;
  padding: 10px;
  background-color: white;
}
.ligneDuHaut_logo p {
  text-align: center;
  color: yellowgreen;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 885px) {
  .ligneDuHaut_logo p {
    font-size: 15px;
  }
}
.ligneDuHaut_menuDuHaut {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 885px) {
  .ligneDuHaut_menuDuHaut {
    align-items: flex-start;
    font-size: 18px;
  }
}
.ligneDuHaut_menuDuHaut li {
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin: 10px;
}
.ligneDuHaut_menuDuHaut a {
  display: block;
  color: white;
  font-weight: 800;
  font-size: 25px;
  padding: 15px;
  border-radius: 40px 10px 40px 10px;
  border: 3px solid white;
}
@media screen and (max-width: 885px) {
  .ligneDuHaut_menuDuHaut a {
    font-size: 15px;
    border-color: yellowgreen;
  }
}
.ligneDuHaut_menuDuHaut a:hover {
  color: yellowgreen;
}
.ligneDuHaut_menuDuHaut a:active {
  color: yellowgreen;
}
.retourhaut {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: whitesmoke;
  font-weight: bold;
  margin: 30px;
  background-color: black;
  box-shadow: 5px 10px 15px 3px rgb(90, 72, 60);
  height: 30px;
  border-radius: 25px;
}

.retourhaut:hover {
  color: yellowgreen;
}

body {
  font-family: PoliceGenerale, Arial, Helvetica, sans-serif;
  max-width: 1700px;
  margin: auto;
  background-color: #ca9762;
}

#bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*HEADER*/
header {
  width: 100%;
}

/*Ligne du haut = logo et menu du haut*/
.hamburger {
  display: none;
}

/*SECTION corps*/
#corps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

.imgordinature h1 {
  position: absolute;
  font-size: 28px;
  font-style: italic;
  text-shadow: 2px 2px white;
  margin: 20px;
  text-align: center;
  border-radius: 30px;
  padding: 15px;
}

.imgordinature {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
  text-shadow: 2px 2px 2px rgb(90, 72, 60);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 15px;
  /* width: 40%; */
  /* box-shadow: 0px 0px 8px 5px yellowgreen; */
}

.listeSites {
  background-color: #5a483c;
  width: 95%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 10px 10px 0;
}

.listeSites a {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 25px;
  border: 5px white solid;
  box-shadow: 0px 0px 8px 5px rgb(189, 187, 187);
  width: 360px;
  min-width: 250px;
  height: 420px;
}
@media screen and (max-width: 885px) {
  .card {
    width: 280px;
    height: 320px;
  }
}
.card:hover {
  box-shadow: 0 0px 8px 10px yellowgreen;
}
.card img {
  border-radius: 0 25px 0 0;
  max-height: 70%;
}
@media screen and (max-width: 885px) {
  .card img {
    max-height: 50%;
  }
}
.card_textCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 25%;
  background-color: black;
  padding: 1px 10px 20px 5px;
  color: white;
  border-radius: 0 25px;
}
@media screen and (max-width: 885px) {
  .card_textCard {
    height: 50%;
  }
}
.card_textCard_skills {
  font-size: 12px;
  color: rgb(189, 187, 187);
}
@media screen and (max-width: 885px) {
  .card_textCard_skills {
    font-size: 10px;
  }
}
.card_textCard p {
  font-weight: 600;
  text-align: left;
  padding-left: 10px;
  margin: 5px 0 0 0;
}
.card_textCard h3 {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 5px 5px 5px 0;
  padding-top: 5px;
  padding-left: 10px;
}
.card_textCard a {
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.card_textCard a:hover {
  color: yellowgreen;
}

.titre {
  font-size: 15px;
}

.lien {
  /* background-color: peru; */
  margin-top: 20px;
}

.lien a {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
}

.pourCentrerTablette p {
  font-size: 30px;
}

/* ligne d'information */
.info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: baseline;
  width: 100%;
}

.iconInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
  border-color: black;
  height: 22px;
  width: 22px;
  margin: 5px;
}

i {
  /* background-color: purple; */
  margin: 0%;
  color: white;
  font-size: 12px;
}

.info p {
  /* background-color: green; */
  width: 85%;
  text-align: left;
  font-size: 12px;
}

/*FOOTER*/
footer {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.footer_piedDePage ul {
  padding: 0%;
  margin: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer_piedDePage h3 {
  color: white;
  padding: 5px;
  font-size: 16px;
}
.footer_piedDePage li {
  padding-bottom: 5px;
}
.footer_piedDePage a {
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.footer_piedDePage a:hover {
  color: yellowgreen;
}
.footer_piedDePage i {
  font-size: 40px;
}
.footer_piedDePage_pourflex {
  display: flex;
  justify-content: space-around;
}/*# sourceMappingURL=acceuil.css.map */