@charset "UTF-8";
/*styles généraux*/
@font-face {
  font-family: PoliceP2;
  src: url("Raleway-Regular.ttf");
}
@font-face {
  font-family: PoliceGenerale;
  src: url("/Raleway/Raleway-Italic-VariableFont_wght.ttf");
}
.ligneDuHaut {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, #e1c2a0 99%), url("../images/ordiNature.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
@media screen and (max-width: 885px) {
  .ligneDuHaut {
    justify-content: space-around;
    align-items: center;
  }
}
.ligneDuHaut_logo {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 40px 10px 40px 10px;
  box-shadow: 0px 0px 0px 5px yellowgreen;
  padding: 10px;
  background-color: white;
}
@media screen and (max-width: 885px) {
  .ligneDuHaut_logo {
    width: 25%;
    margin: 10px;
    padding: 5px;
  }
}
.ligneDuHaut_logo p {
  text-align: center;
  color: yellowgreen;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  text-shadow: 1px 1px #5a483c;
}
@media screen and (max-width: 885px) {
  .ligneDuHaut_logo p {
    font-size: 15px;
  }
}
.ligneDuHaut_menuDuHaut {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0%;
}
@media screen and (max-width: 885px) {
  .ligneDuHaut_menuDuHaut {
    align-items: flex-start;
  }
}
.ligneDuHaut_menuDuHaut li {
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin: 10px;
}
@media screen and (max-width: 885px) {
  .ligneDuHaut_menuDuHaut li {
    margin: 5px;
  }
}
.ligneDuHaut_menuDuHaut a {
  display: block;
  color: white;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  width: 110px;
  padding: 15px;
  border-radius: 40px 10px 40px 10px;
  border: 3px solid yellowgreen;
  background-color: black;
}
@media screen and (max-width: 885px) {
  .ligneDuHaut_menuDuHaut a {
    font-size: 15px;
    width: 55px;
  }
}
.ligneDuHaut_menuDuHaut a:hover {
  color: yellowgreen;
}
.ligneDuHaut_menuDuHaut a:active {
  background-color: white;
  color: yellowgreen;
}
.retourhaut {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px;
  color: whitesmoke;
  font-weight: bold;
  margin: 40px 0 60px 0;
  background-color: black;
  box-shadow: 5px 10px 15px 3px rgb(90, 72, 60);
  height: 30px;
  border-radius: 25px;
}

.retourhaut:hover {
  color: yellowgreen;
}

.retourhaut:active {
  background-color: white;
  color: yellowgreen;
}

body {
  font-family: PoliceP2, Arial, Helvetica, sans-serif;
  max-width: 1700px;
  margin: auto;
  background-color: #e1c2a0;
}

#bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*HEADER*/
header {
  width: 100%;
}

/*Ligne du haut = logo et menu du haut*/
/*SECTION corps*/
#corps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 28px;
  font-style: italic;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 75%;
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 15px;
  text-shadow: 2px 2px 2px rgb(90, 72, 60);
}
@media screen and (max-width: 885px) {
  h1 {
    font-size: 18px;
  }
}

.listeSites {
  background-color: #5a483c;
  width: 60%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 10px 10px 0;
}
@media screen and (max-width: 885px) {
  .listeSites {
    width: 80%;
  }
}

.listeSites p {
  font-size: 22px;
  font-style: italic;
  color: white;
  margin: 0px 40px 40px 40px;
  text-align: center;
  text-shadow: 1px 1px black;
  line-height: 1.5;
}
@media screen and (max-width: 885px) {
  .listeSites p {
    font-size: 18px;
  }
}

.lien {
  /* background-color: peru; */
  margin-top: 20px;
}

.lien a {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
}

.pourCentrerTablette p {
  font-size: 30px;
}

/* ligne d'information */
.info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: baseline;
  width: 100%;
}

.iconInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
  border-color: black;
  height: 22px;
  width: 22px;
  margin: 5px;
}

i {
  /* background-color: purple; */
  margin: 0%;
  color: white;
  font-size: 12px;
}

.info p {
  /* background-color: green; */
  width: 85%;
  text-align: left;
  font-size: 12px;
}

.retourhaut {
  color: white;
  font-weight: bold;
  margin: 20px 0 20px 0;
}

.retourhaut:hover {
  color: #fffd48;
}

/*FOOTER*/
footer {
  background-color: #f2f2f2;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: black;
}

.piedDePage ul {
  padding: 0%;
  margin: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.piedDePage h3 {
  color: white;
  padding: 0%;
  font-size: 16px;
}

.piedDePage li {
  padding-bottom: 5px;
}

.piedDePage a {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.piedDePage a:hover {
  color: #fffd48;
}

.piedDePage i {
  font-size: 40px;
}

.pourflex {
  display: flex;
  justify-content: space-around;
}/*# sourceMappingURL=aPropos.css.map */