/*styles généraux*/

@font-face {
  font-family: PoliceP2;
  src: url("Raleway-Regular.ttf");
}

body {
  font-family: PoliceP2, Arial, Helvetica, sans-serif;
  max-width: 1700px;
  margin: auto;
  background-color: #ca9762;
}
#bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*HEADER*/
header {
  width: 100%;
}

/*Ligne du haut = logo et menu du haut*/
#ligneDuHaut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100%;
}

#logo {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 20px;
}
#logo img {
  width: 90%;
  border-radius: 40px 10px 40px 10px;
  box-shadow: 0px 0px 18px 15px yellowgreen;
}

#menuDuHaut {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 150px;
}
#menuDuHaut li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 40px;
}
#menuDuHaut a {
  display: block;
  color: white;
  font-weight: 800;
  font-size: 25px;
}
#menuDuHaut a:hover {
  color: #fffd48;
}

/*SECTION corps*/

#corps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 28px;
  font-style: italic;
  color: white;
  margin: 20px;
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 15px;
}

h2 {
  color: white;
  /* background-color: white; */
  /* border-radius: 10px; */
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 15px;
  /* width: 40%; */
  /* box-shadow: 0px 0px 8px 5px yellowgreen; */
}

.listeSites {
  background-color: #5a483c;
  width: 95%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 10px 10px 0;
}
.listeSites a {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 25px;
  border: 5px white solid;
  box-shadow: 0px 0px 8px 5px rgb(189, 187, 187);
  width: 360px;
  height: 420px;
}
.card:hover {
  box-shadow: 0 0px 8px 10px yellowgreen;
}
.card img {
  border-radius: 0 25px 0 0;
  object-fit: cover;
  max-height: 70%;
}
.textCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 25%;
  background-color: black;
  padding: 1px 10px 20px 5px;
  color: whitesmoke;
  border-radius: 0 25px;
}

.textCard h3 {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 5px 5px 5px 0;
  padding-top: 5px;
  padding-left: 10px;
}
.textCard p {
  font-size: 14px;
  padding-left: 10px;
  margin: 5px 0 0 0;
}
.textCard .skills {
  font-weight: 600;
}

.lien {
  /* background-color: peru; */
  margin-top: 20px;
}
.lien a {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
}

.pourCentrerTablette p {
  font-size: 30px;
}

/* ligne d'information */
.info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: baseline;
}
.iconInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
  border-color: black;
  height: 22px;
  width: 22px;
  margin: 5px;
}
i {
  /* background-color: purple; */
  margin: 0%;
  color: white;
  font-size: 12px;
}
.info p {
  /* background-color: green; */
  width: 85%;
  text-align: left;
  font-size: 12px;
}

/*FOOTER*/
footer {
  background-color: #f2f2f2;
  width: 100%;
}
.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: black;
}

.piedDePage ul {
  padding: 0%;
  margin: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.piedDePage h3 {
  color: white;
  padding: 0%;
  font-size: 20px;
}
.piedDePage li {
  padding-bottom: 5px;
}
.piedDePage a {
  color: white;
  font-size: 17px;
  font-weight: 700;
}
.piedDePage a:hover {
  color: #fffd48;
}
