/*styles généraux*/
@import "couleurs.scss";
@import "police.scss";
@import "ligneDuHaut.scss";
@import "boutonRetourHaut.scss";
// @import "menuHamburger.scss";
body {
  font-family: PoliceGenerale, Arial, Helvetica, sans-serif;
  max-width: 1700px;
  margin: auto;
  background-color: $fondClair;
}
#bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*HEADER*/
header {
  width: 100%;
}

/*SECTION corps*/

#corps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

.imgordinature h1 {
  position: absolute;
  font-size: 28px;
  font-style: italic;
  text-shadow: 2px 2px white;
  margin: 20px;
  text-align: center;
  border-radius: 30px;
  padding: 15px;
}

.imgordinature {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  // position: relative;
  // top: 100px;
  // animation: 1.5s apparition;
  // animation-fill-mode: forwards;
  // animation-timing-function: ease-in-out;

  @media screen and (max-width: 885px) {
    width: 85%;
  }
  & img {
    border: 2px solid $contour;
    border-radius: 25px;
    animation: 3s apparition;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    @media screen and (max-width: 885px) {
      width: 99%;
    }
  }
  & h1 {
    @media screen and (max-width: 885px) {
      font-size: 20px;
    }
  }
}

h2 {
  color: $couleurPolice;
  text-shadow: 2px 2px 2px rgb(90, 72, 60);
  border-top: 2px solid $couleurPolice;
  border-bottom: 2px solid $couleurPolice;
  padding: 15px;
  margin: 40px 40px 0px 40px;
  @media screen and (max-width: 885px) {
    font-size: 20px;
  }
}
.subListeSites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5a483c;
  width: 95%;
  border-radius: 25px;
}
.listeSites {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 10px 10px 0;
}
.listeSites a {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.card {
  background-color: $couleurPolice;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 25px;
  border: 5px $couleurPolice solid;
  box-shadow: 0px 0px 8px 5px $cardShadow;
  width: 360px;
  min-width: 250px;
  height: 420px;
  @media screen and (max-width: 885px) {
    width: 260px;
    height: 320px;
  }

  &:hover {
    box-shadow: 0 0px 8px 10px $contour;
  }
  & img {
    border-radius: 0 25px 0 0;
    // object-fit: cover;
    max-height: 70%;
    @media screen and (max-width: 885px) {
      max-height: 50%;
    }
  }
  &_textCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 25%;
    background-color: $fonfFooterEtTxtCard;
    padding: 1px 10px 20px 5px;
    color: $couleurPolice;
    border-radius: 0 25px;
    @media screen and (max-width: 885px) {
      height: 50%;
    }
    &_skills {
      font-size: 12px;
      color: $cardShadow;
      @media screen and (max-width: 885px) {
        font-size: 10px;
      }
    }

    & p {
      font-weight: 600;
      text-align: left;
      padding-left: 10px;
      margin: 5px 0 0 0;
    }

    & h3 {
      display: flex;
      align-items: center;
      font-size: 20px;
      margin: 5px 5px 5px 0;
      padding-top: 5px;
      padding-left: 10px;
    }

    & a {
      color: $couleurPolice;
      font-size: 14px;
      font-weight: 700;
      // border-radius: 25px;
    }
    & a:hover {
      color: $couleurLienHover;
      // background-color: rgba(245,245,245,0.5);
    }
  }
}
.titre {
  font-size: 15px;
}

.lien {
  /* background-color: peru; */
  margin-top: 20px;
}
.lien a {
  color: $couleurPolice;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
}

.pourCentrerTablette p {
  font-size: 30px;
}

/* ligne d'information */
.info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: baseline;
  width: 100%;
}
.iconInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
  border-color: black;
  height: 22px;
  width: 22px;
  margin: 5px;
}
i {
  /* background-color: purple; */
  margin: 0%;
  color: $couleurPolice;
  font-size: 12px;
}
.info p {
  /* background-color: green; */
  width: 85%;
  text-align: left;
  font-size: 12px;
}
.OCR ul {
  padding: 0;
  margin: 0;
}
.OCR li {
  margin-bottom: 10px;
}
.OCR a {
  color: black;
  text-shadow: 1px 1px $fondFonce;
}
.OCR a:hover {
  color: $couleurLienHover;
}

/*FOOTER*/
footer {
  width: 100%;
}
.footer {
  display: flex;
  justify-content: space-around;
  background-color: $fonfFooterEtTxtCard;

  &_piedDePage ul {
    padding: 0%;
    margin: 10px 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &_piedDePage h3 {
    color: $couleurPolice;
    padding: 5px;
    font-size: 16px;
  }
  &_piedDePage li {
    padding-bottom: 5px;
  }
  &_piedDePage a {
    color: $couleurPolice;
    font-size: 14px;
    font-weight: 700;
  }
  &_piedDePage a:hover {
    color: $couleurLienHover;
  }

  &_piedDePage i {
    font-size: 40px;
  }
  &_piedDePage_pourflex {
    display: flex;
    justify-content: space-around;
  }
}
