$fondClair: #e1c2a0;
//  #ca9762;
//#cab297;
$fondFonce: #5a483c;
$contour: yellowgreen;
$couleurPolice: white;
$couleurLienHover: yellowgreen;
$cardShadow: rgb(189, 187, 187);
$fonfFooterEtTxtCard: black;
